@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@300;400&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;

  display: flex;
  justify-content: center;
  background-color: #333;
  color: #ffa;
}

.App{
  max-width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden{
  display: none;
}

.show{
  display: flex;
  align-items: flex-end;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}


.expense{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  background-color: #444;
  border-radius: 5px;

  width: 300px;

  position: relative;
}

.navbar h1{
  font-size: 25px;
}

.sum{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  background-color: #449;
}

.sum span{
  font-size: 20px;
  font-weight: bolder;
}

.sum p{
  margin: 0;
}

.price {
  font-size: 20px;
  font-weight: bolder;
}

.expense-details{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  padding: 0;
  margin: 0 5px ;
}

.price, .date, .category{
  margin: 0 5px;
}

.add-expense{
  margin: 10px 0;
  padding: 0;
}

form{
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  justify-content: space-between;
  width: 100%;
}

form button{
  background-color: transparent;
  border: 1px solid #ffa;
  padding: 9px;
  color: #ffa;
}

form button:hover{
  color: #333;
  background-color: #ffa;
  border: #333 solid 1px;

  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
}


form input{
  background-color: transparent;
  outline: none;
  caret-color: #ffa;
  border: 1px solid #ffa;
  color: #ffa;
  padding: 9px;
  margin: 5px 0;
}

select{
  padding: 9px;
  color: #ffa;
  background-color: #333;
  border: #ffa solid 1px;
  margin: 5px 0;
}

label{
  color: white;
}


.navbar{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control{
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.control a{
  margin: 0 20px;
  color: #ffa;
  font-size: 20px;
}


.delete{
  position: absolute;
  right: -10px;
  top: -10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 1px #e63946;
  background-color: #e63946;
  color: #ffa;

  display: flex;
  align-items: center;
  justify-content: center;
}

.delete:hover{
  transform: translateY(-10px);
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
}

.warning{
  background-color: #e85d04;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  width: 300px;

  color: white;
}